#sgif{
    width: 95%;
}

.why{
    font-family: "Oswald", sans-serif;
    font-size: 2em;
}

li{
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

#wss{
    padding-bottom: 10%;
    padding-top: 10%;
}